<html>
	
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	
	<body>
		
		<h1>&nbsp; &nbsp;Staredu</h1>
		<h5>&nbsp; &nbsp; &nbsp; &nbsp;Upskill your dream today</h5>
		
		<form>
			<table align = "center">
				<tr>
					<td><h1 align = "center">Forgot Password?</h1></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Please Enter Your Email ID Below To Receive A New Password</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td align = "center"><input type = "text" style = "height:40px"></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td align = "center">
						<input type = "submit" value = "Receive Password" style = "background-color:gray;height:40px;width:177px">
					</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td align = "center"><a href = "login.php">Go Back</a></td>
				</tr>
			</table>
		</form>
		
	</body>
	
</html>