<html>
	
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	
	<body>
	
		<h1>&nbsp; &nbsp;Staredu</h1>
		<h5>&nbsp; &nbsp; &nbsp; &nbsp;Upskill your dream today</h5>
		
		<form>
			<table align = "center">
				<tr>
					<td><h1 align = "center">Generate Report</h1></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Categories:</td>
					<td>
						<select name="categories">
								<option disabled selected>Choose</option>
								<option >University</option>
								<option >Teacher</option>
								<option >Student</option>
								<option >Course</option>						
						</select>
					</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Timeframe:</td>
					<td>
						<select name="timeframe">
								<option disabled selected>Choose</option>
								<option >1 Month</option>
								<option >3 Months</option>
								<option >6 Months</option>
								<option >12 Months</option>						
						</select>
					</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td align = "center">
						<input type = "submit" value = "Generate" style = "background-color:gray;height:40px;width:177px">
					</td>
				</tr>
			</table>
		</form>
		
		<h4 align = "right"><a href = "adminhome.php">Go Back</a></h4>
		
	</body>
</html>