<html>
	
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	
	<body>
		
		<h1>&nbsp; &nbsp;Staredu</h1>
		<h5>&nbsp; &nbsp; &nbsp; &nbsp;Upskill your dream today</h5>
		
		<form action="">
			<table align = "center">
				<tr>
					<td colspan = "2"><h1 align = "center">Upload Documents</h1></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Upload Notes:</td>
					<td>
						<input type = "file" id = "myFile" name = "filename">
						<input type = "submit" value = "Upload" style = "background-color:gray;height:40px;width:177px">
					</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Upload Lectures:</td>
					<td>
						<input type = "file" id = "myFile" name = "filename">
						<input type = "submit" value = "Upload" style = "background-color:gray;height:40px;width:177px">
					</td>
				</tr>
			</table>
		</form>
		
		<h4 align = "right"><a href = "adminhome.php">Go Back</a></h4>
		
	</body>
</html>